---
//Aqui las importaciones de archivos ts, css y codigo de servidor
import '../common/styles/globals.css'
---

<!-- Aqui es donde se distribuye el contenido a los componentes hijos -->

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles/normalize.css">
		<title>Akelarre</title>
	</head>
	<body>
		<slot />
	</body>
</html>

